body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header,
footer {
    background-color: rgb(109, 165, 202);
}

.site-title {
    color: rgb(6, 62, 84);
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.square ul {
    list-style: square;
}

.square ul li:nth-child(odd) {
    background-color: antiquewhite;
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    border: 2px solid rgb(26, 66, 85);
    background-color: antiquewhite;
}

nav ul a:hover,
nav ul a:focus {
    background-color: rgb(154, 177, 191);
}